.center-alignment {
    width: 570px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-top: 5%;
}
.input-field {
    border: none;
    border-bottom: 0.10px solid #C5C5C5;
    width: 462px;
    height: 42px;
}
.Registration-btn {
    border: none;
    color: #ffffff;
    background: #3F90FC;
    width: 462px;
    height: 50px;
    padding: 14px 165px;
    margin-top: 30px;
}
.work-container:nth-child(2n+2) .work-title{
    background-color:#FF7044;
    }
    .work-container:nth-child(3n+3) .work-title{
        background-color:#3F90FC;
    }
    .work-container:nth-child(4n+4) .work-title{
        background-color:#421FCF;
    }
    .work-title{
        background-color:#FFBD3E;
       
    }